@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 16;
}

.logo {

    width: 200px;
    height: 140px;
}

nav {
    display: flex;
}

.navigation {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    color: aliceblue;
    transition: 0.8s;
}

.navigation:hover {
    transform: scale(1.2);
    color: rgb(187, 0, 0);
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-image: url(images/back.webp);
    background-repeat: no-repeat;
    background-position: 0px 317px;
    background-size: 1580px 518px;

}

.contenbox {
    display: flex;
}

.c-60 {

    flex-basis: 60%;
    background: black;
    padding: 40px 60px;
}

.c-40 {
    flex-basis: 40%;
    padding: 40px;
    background: rgb(173 173 173);
}

.inputbox {

    font-size: 15px;
    margin: 15px 0px;
}

span {
    margin-bottom: 5px;
    display: block;
    color: #eabd0a;

}

input {

    width: 100%;
    border: 1px solid white;
    padding: 9px 5px 9px 5px;
    font-size: 10px;
    text-transform: none;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.sub {
    width: 100%;
    background: #27ae60;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.sub:hover {
    transform: scale(1.1);
}

h1 {
    color: white;
    text-align: center;
}

tr td:first-child {
    padding: 20px;
    font-size: 15px;
}